* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 1280px;
    height: 605px;
    color: gold;
    padding-bottom: 5px;
    margin-top: 5px;
}

.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}